export(add_dmy)
export(add_markov)
export(add_spell_info)
export(choose_order)
export(compare_lags)
export(convert_data)
export(fdgs)
export(fit_amounts)
export(fit_rainy)
export(get_offset)
export(make_all_probs)
export(make_eval_string)
export(make_fit_string)
export(make_fourier_string)
export(make_model_from_fit_objects)
export(make_probs)
export(make_some_probs)
export(make_some_probs_rain)
export(plot_model)
export(read_pl)
export(split_by_year)
export(synth_data_set_mod)
