export(add_dmy)
export(add_markov)
export(add_spell_info)
export(avg_daily_rainfall)
export(avg_day_rain_in_year)
export(avg_yearly_rainfall)
export(choose_order)
export(compare_lags)
export(convert_data)
export(fdgs)
export(fit_amounts)
export(fit_fourier)
export(fit_probs)
export(fit_probs_inter)
export(fit_rainy)
export(get_fourier)
export(get_offset)
export(length_mask)
export(make_all_probs)
export(make_approx_model_pl)
export(make_eval_other_string)
export(make_eval_string)
export(make_fit_string)
export(make_fourier_string)
export(make_model_from_fit_objects)
export(make_model_pl)
export(make_param_file)
export(make_probs)
export(make_some_probs)
export(make_some_probs_rain)
export(mask_plot)
export(mean_mask)
export(plot_model)
export(read_pl)
export(sd_daily_rainfall)
export(sd_mask)
export(sd_yearly_rainfall)
export(sim_mem_check)
export(simulate_data_set)
export(spell_dist)
export(split_by_year)
