export(add_dmy)
export(add_markov)
export(add_spell_info)
export(choose_order)
export(compare_lags)
export(construct_model)
export(convert_data)
export(fdgs)
export(get_offset)
export(make_all_probs)
export(make_fit_string)
export(make_model)
export(make_model_general)
export(make_model_pl)
export(make_probs)
export(make_some_probs)
export(make_some_probs_rain)
export(plot_model)
export(read_pl)
export(split_by_year)
export(synth_data_set)
export(synth_data_set_mod)
